<div class="container-fluid">
    <!-- .navbar-header contains links seen on xs & sm screens -->
    <div class="navbar-header">
    <!-- ...existing code... -->
        
        <!-- Usuario y chat en la derecha -->
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <!-- Usuario siempre visible -->
                <app-user></app-user>
            </li>
        </ul>
        
        <!-- xs & sm screen logo -->
        <a class="navbar-brand hidden-md-up" href="#">&nbsp;
            NBI
            &nbsp;
        </a>
    </div>
</div>
